<!DOCTYPE html>
<html>
  <head>
    <title>
      Sanjay Singh
    </title>
    <link rel="stylesheet" type="text/css" href="/css/home-portfolio.css">
    <link rel="stylesheet" type="text/css" href="/css/respons.css">
       <meta name="viewport" content="width=device-width,initial-scale=1">
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <style>
           #body-header
              {   height:50vh;
                  background:rgba(3, 67, 80, 0.403) url(/images/gifs/office3.jpg);
                  background-size: cover;
                  background-position: center;
                  background-attachment: fixed;
                  background-blend-mode: darken;

              }

              #contact
                 {
                     /* background-color: #0abcf9; */ 
                    /* background-image: url(/images/gifs/giphy2.gif); */
                    background-image: linear-gradient(50deg,#2857a4 0%,#305f66 74%);
                    color:white;
                    padding-bottom: 0px;
                }

            #navbar{
              background:rgba(3, 67, 80, 0.403) url(/images/gifs/office3.jpg);
              background-size: cover;
              background-blend-mode: darken;
              z-index: 4;
            }
            
        
      </style>  
      </head>
    
    <body>
          <nav id="navbar">
            <ul class="horizontal-list nav " >
                <li>
                    <a href="practice.html">Home</a>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#skills">Skills</a>
                </li>
                
                <li>
                    <a href="#education">Education</a>
                </li>
               
                <li>
                    <a href="#portfolio">Portfolio</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
            <div id="burger">
              <div></div>
              <div></div>
              <div></div>
            </div>
          </nav>
          <header>
            <div id="body-header">
                <div id="my-name">
                  <h1>Sanjay Singh</h1>
                </div> 
                <div class="css-typing">Web developer
                </div>
                <div>
                    <ul class="header-social-icon horizontal-list">
                      <li>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                       </li>
                      <li>
                          <a href="#">
                              <i class="fab fa-instagram"></i>
                          </a>
                      </li>
  
                      <li>
                          <a href="#">
                              <i class="fab fa-linkedin-in"></i>
                          </a>
                      </li>
                      <li>
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                      <li>
                          <a href="#">
                              <i class="fab fa-stack-overflow"></i>
                          </a>
                      </li>

                    </ul>
                </div>
            </div>
            
        </header>
        <main>
            <section id="about">
               <div id="my-pic">
               
                <img  class="my-pic-img dev-o--blur" id="my-pic2" src="../fb.jpeg">
                <img class="my-pic-img" src="../f.jpg">
              </div>
               <div>
                <p>Recent computer science graduate with passion for developing scalable web applications and working across the full stack. I am looking to join a good company to continue to grow my skill set while contributing to the positive outcome of making people “richer, smarter, and happier. I have always been fascinated by technology and wanted to know how it works So, I became a web developer. if I come across a new technology, it makes curious to know more about it. I believe it’s more about understanding than implementing the technology.”  
                </p>
               </div>
            </section>

            <section id="skills">
                <h1 class="section-heading mb75px">
                  <span>
                    <i class="fas fa-chalkboard-teacher"></i>
                </span>
                    <span>
                        SKILLS
                    </span>
                </h1>
                <div class="skill-diagrams">
                   <div class="skill-progress">
                      <div class="perc85 blue skill-nam" data-skill-level="80">  
                         <span>html</span>
                      </div>
                   </div>
                
                
                    <div class="skill-progress">
                       <div class=" perc50 red skill-nam" data-skill-level="70">
                         <span>css</span>
                       </div>
                    </div>
                
                 
                    <div class="skill-progress">
                       <div class="perc90 green skill-nam" data-skill-level="55">
                            <span>javascript</span>
                       </div>
                    </div>
                 
                 
                    <div class="skill-progress">
                       <div class="orange perc90 skill-nam" data-skill-level="20">
                         <span>ajax</span>
                       </div>
                    </div>
                 
                 
                    <div class="skill-progress">
                       <div class="perc65 choclte skill-nam" data-skill-level="30">
                         <span>jquery</span>
                       </div>
                    </div>

                    <div class="skill-progress">
                      <div class="orange perc90 skill-nam" data-skill-level="40">
                        <span>Node.js</span>
                      </div>
                   </div>
                
                
                   <div class="skill-progress">
                      <div class="yellow perc60 skill-nam" data-skill-level="60">
                        <span>express</span>
                      </div>
                   </div>

                   <div class="skill-progress">
                    <div class=" skyblue perc90 skill-nam" data-skill-level="80">
                      <span>Mongodb(ODM)</span>
                  </div>     
                </div>
                <div class="skill-progress">
                  <div class=" sky perc90 skill-nam" data-skill-level="80">
                    <span>git</span>
                </div>     
              </div>
              
            </section>

            <section id="education">
                  <h1 class="section-heading mb75">
                    <span>
                      <i class="fas fa-th-list"></i>
                  </span>
                    <span>
                        Education
                    </span>
                  </h1>
                  <div class="education">

                    <div class="education-box">
                      <div class="class-name">
                          <span>10<sup>th</sup></span>
                      </div>
                        <div class="school-name">
                          <span>K.D HIGH SCHOOL</span>
                        </div>
                        <div class="school-year">
                          <span>August 2014- June 2015</span>
                        </div>
                        <div class="school-content">
                          I have completed my high schooling from k.d high school with 75% score.
                        </div>
                    </div>
                    <div class="education-box">
                      <div class="class-name">
                          <span>12<sup>th</sup></span>
                      </div>
                        <div class="school-name">
                          <span>RAWAL BAL SHIKSHA KENDRA</span>
                        </div>
                        <div class="school-year">
                          <span>August 2016- June 2017</span>
                        </div>
                        <div class="school-content">
                          I have completed my secondary schooling from rawal bal shiksha kendra with 81.4% score
                        </div>
                    </div>
                    <div class="education-box">
                      <div class="class-name">
                          <span>GRADUATION</span>
                      </div>
                        <div class="school-name">
                          <span>YMCA UNIVERSITY OF SCIENCE AND TECH.</span>
                        </div>
                        <div class="school-year">
                          <span>August 2018- June 2022</span>
                        </div>
                        <div class="school-content">
                          I have done my B. tech in computer science engineering from ymca university of science and technology in year 2022 with 7.3 CGPA
                        </div>
                    </div>
                    
                  
                    <div class="mid-line">
                      <div class="air-plane">
                        <i class="fas fa-plane"></i>
                      </div>
                    </div>
                    
                  </div>
            </section>

            
            <section id="portfolio">
              <h1 class="section-heading mb75">
                <span>
                  <i class="fas fa-th-list"></i>
              </span>
                <span>Portfolio</span>
              </h1>
              <div class="port">
                <div class="port-box">
                   <img src="/images/gifs/portfolio.png">
                   <div class="port-details"><p><a href="/"><br>My portfolio website<br>this is my first project.i used html,css and javascript to make this portfolio website.<span class="anchor"><br><br><br><br>click to see<span></a></p></div>
                </div>
                 
                  <div class="port-box">
                    <img src="/images/gifs/calculator.png">
                    <div class="port-details"><p><a href="/calculator"><br>calculator<br>this is my second project.i used html,css and javascript to make this project.it can perform basic arithematic calculations.<span class="anchor"><br><br>click to see</span></a></p></div>
                  </div>

                <div class="port-box">
                  <img src="/images/gifs/game.png">
                  <div class="port-details"><p><a href="/ping-pong-game"><br>ping-pong game<br>this is my third project.i used html,css and javascript to make this project.it is responsive.<span class="anchor"><br><br><br><br>click to see</span></a></p></div>


                  
                </div>
                <div class="port-box">
                  <img src="/images/gifs/music.png">
                  <div class="port-details"><p><a href="/music-player"><br>music player<br>this is my forth project.i used html,css and javascript to make this project.playlist contain 6 songs,you can play any song.<span class="anchor"><br><br>click to see</span></a></p></div>

                </div>
                <div class="port-box">
                 <img src="/images/gifs/todo.png">
                 <div class="port-details"><p><a href="/todo-app"><br>todo app<br>this is my fifth project.i used html,css,javascript,express and mongodb to make this project.you can add any task to todo list.<span class="anchor"><br><br>click to see</span></a></p></div>

                </div>
                <div class="port-box">
                 <img src="/images/gifs/chatapp.png">
                 <div class="port-details"><p><a href="/chat-engine"><br>chating engine<br>this is my sixth project.i used html,css,javascript,express and socket.io to make this project.you can chat to other person which is online on my portfolio website.<span class="anchor"><br>click to see</span></a></p></div>
                </div>
              </div>
              


            </section>

            <section id="contact">
              <h1 class="section-heading mb75">
                <span>
                  <i class="far fa-address-card"></i>
              </span>
                <span>Contact</span>
              </h1>
              <div class="contact-main">
                   <div class="contact-form">
                    <form action="/user/profile" method="get">
                       <input id="input-name" name="name" type="text" placeholder="Your Name">
                        <input id="input-email" name="input-email" type="text" required placeholder="Your Email">
                        <textarea id="input-message" name="input-message" rows="1" cols="40" placeholder="MESSAGE"></textarea>
                        <button id="contact-form-button" type="submit">SEND MESSAGE</button>
                    </form>
                   </div>
                  <div class="address">
                    <h3>Get In Touch</h3>
                    <div class="my-details-info-container">
                      <i class="fas fa-map-marker-alt"></i>
                      <span>faridabad,haryana</span>
                    </div>
                    <div class="my-details-info-container">
                      <i class="fas fa-mobile-alt"></i>
                      <span>9354412061</span>
                    </div>
                    <div class="my-details-info-container">
                      <i class="far fa-envelope"></i>
                      <span>sanjayfbd93544@gmail.com</span>
                    </div>
                  </div>
              </div>
              
            <div>
              <ul class="header-social-icon horizontal-list">
                <li>
                  <a href="#">
                      <i class="fab fa-linkedin-in"></i>
                  </a>
                 </li>
                <li>
                    <a href="#">
                        <i class="fab fa-stack-overflow"></i>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                </li>
                <li>
                  <a href="#">
                      <i class="fab fa-facebook-f"></i>
                  </a>
              </li>
                <li>
                    <a href="#">
                      <i class="fab fa-quora"></i>
                    </a>
                </li>

              </ul>
          </div>

            </section>
           
        </main>
        <script type="text/javascript" src="/javascript/home-portfolio.js"></script>
    </body>
</html>