<!DOCTYE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta htt-equiv="X-UA-Comatible" content="IE=edge">
    <meta name="viewort" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../f.jpg">
    <title>My music player</title>
    <link rel="icon" type="image/x-icon" href="/images/gifs/DEVG.gif">
    <link href="/css/music.css" rel="stylesheet" tye="text/css">
    <style>
        li a{
            text-decoration: none;
            color: aliceblue;
        }
    </style>

</head>
<body>


<div class="music-player-body">
    <nav>
        <ul>
            <li class="brand"><img src="/images/gifs/XDZT.gif" alt="screen">Music</li>
            <!-- <li><h1>My Music Player</h1></li> -->
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
        </ul>
    </nav>
    
    <div class="container">
        <div class="songlist">
           <h1>&nbsp; Your Song Playlist </h1>
        
           <div class="songItem" value="0">
                <img src="f.jpg" alt="1">
                <span class="SongName">song-name</span>
                <span class="songlistplay">
                    <span class="song-duration">0.5:34</span>
                    <span><i class="songItemPlay fa-regular  fa-circle-play"></i></span>   
                </span>
           </div>

           <div class="songItem" value="1">
                <img src="f.jpg" alt="1">
                <span class="SongName">song-name</span>
                <span class="songlistplay">
                    <span class="song-duration">0.5:34</span>
                    <span><i class="songItemPlay  fa-regular  fa-circle-play"></i></span>   
                </span>
           </div>
            <div class="songItem" value="2">
                <img src="f.jpg" alt="1">
                <span class="SongName">song-name</span>
                <span class="songlistplay">
                    <span class="song-duration">0.5:34</span>
                    <span><i class="songItemPlay  fa-regular  fa-circle-play"></i></span>   
                </span>
            </div>

            <div class="songItem" value="3">
                <img src="f.jpg" alt="1">
                <span class="SongName">song-name</span>
                <span class="songlistplay">
                    <span class="song-duration">0.5:34</span>
                    <span><i class="songItemPlay  fa-regular  fa-circle-play"></i></span>   
                </span>
            </div>

            <div class="songItem" value="4">
                <img src="f.jpg" alt="1">
                <span class="SongName">song-name</span>
                <span class="songlistplay">
                    <span class="song-duration">0.5:34</span>
                    <span><i class="songItemPlay fa-regular  fa-circle-play"></i></span>   
                </span>
            </div>


            <div class="songItem" value="5">
                    <img src="f.jpg" alt="1">
                    <span class="SongName">song-name</span>
                    <span class="songlistplay">
                        <span class="song-duration">0.5:34</span>
                        <span><i class="songItemPlay fa-regular  fa-circle-play"></i></span>   
                    </span>
            </div>

            <div class="songItem" value="6">
                <img src="f.jpg" alt="1">
                <span class="SongName">song-name</span>
                <span class="songlistplay">
                    <span class="song-duration">0.5:34</span>
                    <span><i class="songItemPlay fa-regular  fa-circle-play"></i></span>   
                </span>
            </div>
            <div class="songItem" value="7">
                <img src="f.jpg" alt="1">
                <span class="SongName">song-name</span>
                <span class="songlistplay">
                    <span class="song-duration">0.5:34</span>
                    <span><i class="songItemPlay fa-regular  fa-circle-play"></i></span>   
                </span>
            </div>
            <div class="songItem" value="8">
                <img src="f.jpg" alt="1">
                <span class="SongName">song-name</span>
                <span class="songlistplay">
                    <span class="song-duration">0.5:34</span>
                    <span><i class="songItemPlay fa-regular  fa-circle-play"></i></span>   
                </span>
            </div>
            <div class="songItem" value="9">
                <img src="f.jpg" alt="1">
                <span class="SongName">song-name</span>
                <span class="songlistplay">
                    <span class="song-duration">0.5:34</span>
                    <span><i class="songItemPlay fa-regular  fa-circle-play"></i></span>   
                </span>
            </div>
           
          
           
           
        </div>

        <div class="songBanner">
            <img src="/images/gifs/iron.gif" alt="1">
        </div>
        <div class="songBannergif">
            <img src="/images/gifs/DEVG.gif" alt="1">
        </div>
    </div>

    <div class="bottom display">
        <div id="myProgressBar">
           <input type="range" name="range"  class="slider" id="slider" min="0" max="100">
        </div>
        <div class="icons">
            
            <i class=" fa-2x fa-solid fa-backward" id="prev-song"></i>
            <i class=" fa-3x fa-regular  fa-circle-play" id="current-song"></i>
            <i class=" fa-2x fa-solid fa-forward" id="next-song"></i>
        </div>
        <div id="song-gif" class="song-gif opacity">
          <span class="brand"><img src="/images/gifs/Z23b.gif" ></span>
         </div>
        <div id="song-info-name" class="song-info-name fadeAnimation">
           song-name
        </div>
        <div id="song-info-duration" class="song-info-duration">
            song-name
         </div>
    </div>

</div>

    <script src="https://kit.fontawesome.com/bb05cfc157.js" crossorigin="anonymous"></script>
    <script src="/javascript//music.js"></script>
</body>
</html>