<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" type="text/css" href="css/home.css">
    </head>

    <body>
        <h1>title of this page: <%= title %></h1>
        <ul>
            <% if(locals.user){ %>
            <li>
                <%= user.name %>
            </li>
            <li>
                <a href="/user/sign-out">sign-out</a>
            </li>
            <% } else {%>

            <li>
                <a href="/user/sign-up">sign-up</a>
            </li>
            <li>
                <a href="/user/sign-in">sign-in</a>
            </li>
            <li>
                <a href="/google">sign-up/sign-in using google</a>
            </li>

            <% } %>
        </ul>
    </body>
</html>